.main-menu {
  li {
    display: inline-block;

    &:not(:last-child)::after {
      content: '-';
      padding: 0 3px;
    }

    a {
      color: $primary;
      padding: 3px 0;
      text-decoration: none;
      transition: background-color 400ms ease;

      &:hover {
        background-color: $yellow;
      }
    }
  }
}

.line-primary {
  background-color: $primary;
  height: 1px;
  margin-bottom: 1px;
}

.line-pink {
  background-color: $pink;
  height: 5px;
  margin-bottom: 1px;
}

.line-yellow {
  background-color: $yellow;
  height: 3px;
}
