/////////////////////////////////////////////
// base / config
/////////////////////////////////////////////
@import 'reset';
@import 'variables';
@import 'fonts';

@import 'grid';
@import 'main-menu';
@import 'right-nav';

body {
  color: $primary;
  font-family: 'Lora-Regular';
  font-size: 14px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

p {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 16px;
}

.category {
  color: $purple;
  font-size: 16px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mt8 {
  margin-top: 8px;
}

.mt64 {
  margin-top: 64px;
}

.mt110 {
  margin-top: 110px;
}

.img-responsive {
  height: auto;
  max-width: 100%;
}

.w100 {
  width: 100%;
}
